src/main/xsd/camt.xsd

<xs:schema elementFormDefault="qualified"
           targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.053.001.02"
           xmlns:camt.053.001.02="urn:iso:std:iso:20022:tech:xsd:camt.053.001.02"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="CdtDbt" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BkToCstmrStmt">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="GrpHdr">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="MsgId"/>
                                        <xs:element type="xs:string" name="CreDtTm"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Stmt">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="Id"/>
                                        <xs:element type="xs:string" name="CreDtTm"/>
                                        <xs:element name="FrToDt">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:date" name="FrDtTm"/>
                                                    <xs:element type="xs:date" name="ToDtTm"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Acct">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Id">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="IBAN"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Tp">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="Cd"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element type="xs:string" name="Ccy"/>
                                                    <xs:element name="Svcr">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="FinInstnId">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="BIC"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Bal" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Tp">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="CdOrPrtry">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="Cd"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Amt">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:decimal">
                                                                    <xs:attribute type="xs:string" name="Ccy"
                                                                                  use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="CdtDbtInd" type="camt.053.001.02:CdtDbt"/>
                                                    <xs:element name="Dt">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:date" name="Dt"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>

                                        <xs:element name="TxsSummry">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="TtlNtries">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:short" name="NbOfNtries"/>
                                                                <xs:element type="xs:decimal" name="Sum"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="TtlCdtNtries">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:int" name="NbOfNtries"/>
                                                                <xs:element type="xs:decimal" name="Sum"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="TtlDbtNtries">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:int" name="NbOfNtries"/>
                                                                <xs:element type="xs:decimal" name="Sum"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Ntry" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="NtryRef"/>
                                                    <xs:element name="Amt">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:decimal">
                                                                    <xs:attribute type="xs:string" name="Ccy"
                                                                                  use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="CdtDbtInd" type="camt.053.001.02:CdtDbt"/>
                                                    <xs:element type="xs:string" name="Sts"/>
                                                    <xs:element name="BookgDt">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:date" name="Dt"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="ValDt">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:date" name="Dt"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element type="xs:string" name="AcctSvcrRef"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>